
<div class="row" style="margin-top: 100px; padding: 0px;">
    <div class="col-md-8 col-md-offset-2">
        <hr>
 <%
    for (index in post.comments){
 %>
        <div class="panel panel-default">
            <div class="panel-body">
                <h4><%=post.comments[index].author%></h4>
                <%
                    function timeConverter(UNIX_timestamp){
                        var a = new Date(UNIX_timestamp);
                        var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
                        var year = a.getFullYear();
                        var month = months[a.getMonth()];
                        var date = a.getDate();
                        var hour = a.getHours();
                        var min = a.getMinutes();
                        var sec = a.getSeconds();
                        var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
                        return time;
                    }
                %>
                <small><%=timeConverter(parseInt(post.comments[index].cID))%></small><br>
                <i> <%=post.comments[index].content%> </i>
            </div>
        </div>
 <%
    }
 %>
        <form action="/addcomment/" method="post">
            <textarea cols="30" rows="10" class="form-control" placeholder="Put your comment here" name="content" required></textarea>
            <input type="text" class="form-control" name="author" placeholder="Your name" style="margin-top: 20px;" required>
            <div class="g-recaptcha" data-sitekey="6LddTh4UAAAAAIJafHUsE9UvKaEyCwEduNxaeZCd" style="margin-top: 20px;"></div>
            <input type="text" style="visibility: hidden;" hidden value="<%-postID%>" name="postID">
            <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Send</button>
        </form>
        
    </div>
</div>